*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/* ================================================== BASIC STYLES */

html { scroll-behavior: smooth; }

.link a:link {color: #c46200;}
.link a:visited {color: #c46200;}
.link a:focus {color: #c46200;}
.link a:hover {color: #b87d42;}
.link a:active {color: #c46200;}

h1 {
    color: #c46200;
    font-size: 70px;
}

h2 {
    color: #e6d61d;
    font-size: 37px;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

.services {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 140px 0 0 0;
}

.sub_block {
    max-width: 500px;
    margin: 0 20px 0 0;
    line-height: normal;
}
